<div class = "container">
	<form action="/user/signin" method="POST" class="form-signin" style="margin-top:150px;">
            <div class="col-sm-6 col-md-offset-3" style="padding-bottom:100px;">
                <div class="thumbnail">
                  <h6 class="form-signin-heading" style="text-align:center; color:#965251;">Masuk ke MPC (khusus Admin)</h6>
                  <% if(flash && flash.err) { %>
              			<ul class="alert alert-success">
              		<% Object.keys(flash.err).forEach(function(error) { %>
              			<li><%- JSON.stringify(flash.err[error]) %></li>
              		<% }) %>
              		</ul>
              		<% } %>
                  <div class="caption">
                      <div class="input-group form-group">
                          <span class="input-group-addon" style="color:white; background-color:#965251; border:1px solid #965251;">
                            <span class="glyphicon glyphicon-user"></span>
                          </span>
                          <input type="text" class="form-control" placeholder="Email address / Username" name="email">
                      </div>

                      <div class="input-group control-group">
                          <span class="input-group-addon" style="color:white; background-color:#965251; border:1px solid #965251;">
                            <span class="glyphicon glyphicon-lock"></span>
                          </span>
                          <input type="password" class="form-control" placeholder="Password" name="password">
                      </div>
                      <br>
                      <input type="submit" class="btn btn-lg btn-primary btn-block" style="background-color:#965251;"value="Masuk"/>
                      <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                  </div>
                </div>
          </div>

	</form>
</div>
